<form name="upload" action="/upload" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <input type="file" name="uploadfiles" value="Upload file" >
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</form>
